.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #8896ff;
    padding-left: 10px;
}

.nav {
  overflow: hidden;
  background-color: #101085;
}

.nav-link {
  float: left;
  color: #f2f2f2;
  background-color: #101085;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #2068aa;
}

.nav-right {
  float: right;
}